<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="defaultSuite" verbose="1"
       guice-stage="PRODUCTION"
       parent-module="cross.platform.test.suite.guicemodule.common.ParentModule">

    <listeners>
        <listener class-name="cross.platform.test.suite.listener.TestNGListener" />
    </listeners>

    <test name="Catalog">
        <classes>
            <class name="cross.platform.test.suite.test.catalog.CatalogTest"/>
        </classes>
    </test>

    <test name="CatalogFactory">
        <classes>
            <class name="cross.platform.test.suite.test.factory.CatalogFactory"/>
        </classes>
    </test>
</suite>