<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="defaultSuite" verbose="1"
       guice-stage="PRODUCTION"
       parent-module="cross.platform.test.suite.configuration.guicemodule.ParentModule">
    
        <test name="ApiDemos">
            <classes>
                <class name="cross.platform.test.suite.test.apidemos.ApiDemosSetupTest"/>                
                <class name="cross.platform.test.suite.test.apidemos.ApiListTest"/>
            </classes>
        </test>
</suite>
