<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    
    <conversionRule conversionWord="threadId" converterClass="cross.platform.test.suite.configuration.ThreadIdConverter"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{HH:mm:ss.SSS} Thread-%-2threadId %highlight(%-5level) %cyan(%-20logger{0}) - %msg
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>